<header
    id="topnav"
    role="banner"
    class="navbar navbar-default navbar-fixed-top"
    ng-cloak>

    <div class="header-left toolbar" >
        <span id="trigger-sidebar"  ng-click="toggleLeftBar()" class="toolbar-trigger toolbar-icon-bg ">
            <i class="ti ti-menu"></i>
        </span> &nbsp;

        <a href="#/" style="padding-top:18px; color: #ff6501 ;">ANGULAR-JS SAMPLES </a>
    </div>

    <ul class="nav navbar-nav pull-right toolbar header-right" style="float: right">
        
        <li class="toolbar-icon-bg">
            <a href="" ><span class="icon-bg" ng-click="refresh()"><i class="ti ti-reload"></i></span></a>
        </li>
        
         <li class="dropdown" uib-dropdown>
            <a href class="dropdown-toggle username" uib-dropdown-toggle ><img src="{{imageBasePath}}/person.png" alt="Jonathan Smith" /></a>
            <ul class="dropdown-menu dropdown-menu-right ">
                <li><a href="#/"><i class="ti ti-user"></i>&nbsp;&nbsp;<span> Profile</span></a></li>
                <li><a href="#/"><i class="ti ti-panel"></i>&nbsp;&nbsp;<span>Account</span></a></li>
                <li><a href="#/"><i class="ti ti-settings"></i>&nbsp;&nbsp;<span>Settings</span></a></li>
                <li class="divider"></li>
                <li><a href="#/logout"><i class="ti ti-shift-right"></i>&nbsp;&nbsp;<span>Sign Out</span></a></li>
            </ul>
        </li>
        
    </ul>
</header>

