<ul class="sidebar-nav container-fluid ">
    <li class="sidebar-brand ">
        <a href="/samples/public/app/#/products" ><span class="ti ti-view-list-alt"></span> &nbsp; Product</a>
    </li>
    <li class="sidebar-brand ">
        <a href="/samples/public/app/#/categories" ><span class="ti ti-view-list-alt"></span> &nbsp; Category</a>
    </li>
    <li class="sidebar-brand ">
        <a href="/samples/public/app/#/brands" ><span class="ti ti-view-list-alt"></span> &nbsp; Brand</a>
    </li>
    <li class="sidebar-brand ">
        <a href="/samples/public/app/#/posts"> <span class="ti ti-view-list-alt"></span> &nbsp; Posts</a>
    </li>
    <li class="sidebar-brand ">
        
        <a href="/samples/public/app/#/authors"><span class="ti ti-view-list-alt"></span> &nbsp; Authors</a>
    </li>
</ul>