<div class="container-fluid" style="border: 5px solid  #06368f">    
    <div data-widget-group="group1" class="ui-sortable">
        <div class=" page-heading" id="page-heading">
            <h3> ADD/EDIT BRAND </h3>
        </div>
        <div class="panel panel-default add-panel">
            <div class="panel-body">
                <form ng-submit="" enctype="multipart/form-data" id="categoryForm" class="form-horizontal row-border ng-pristine ng-valid">
                    <input class="form-control"  type="hidden" ng-model="brandAddEdit.brand.id">
                    
                    <div class="form-group">
                        <label class="col-md-2 control-label"> Brand Name </label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="brandAddEdit.brand.name" required >
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-2 control-label"> Thumbnail </label>
                        <span class="col-md-2" ng-show="brandAddEdit.brand.image">
                            <img class="profile-img" height="50" width="60" ng-src="{{brandAddEdit.ImagePath}}/brands/{{brandAddEdit.brand.image}}" err-src=""/>
                        </span>
                        <label class="custom-file-upload col-md-2">
                            <input class="" type="file" file-model="file"/>
                            <i class=""></i>
                        </label>
                       <!--
                        <span class="col-md-2">
                            <p ng-show="fileName">{{fileName}}</p>
                        </span>
                        -->
                    </div>

                </form>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="submit-btn-div col-sm-2">
                            <span class="btn btn-prod " ng-click="brandAddEdit.submitBrand()">Submit</span>
                        </div>
                        <div class="cancel-btn-div col-sm-2">
                            <span class="btn btn-prod " id="cancelForm" ng-click="brandAddEdit.close()">Cancel</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
