<div class="container-fluid">    
    <div data-widget-group="group1" class="ui-sortable">
        <div class=" page-heading" id="page-heading">
            <h3> ADD/EDIT PRODUCTS </h3>
        </div>
        <div class="panel panel-default add-panel">
            <div class="panel-body">
                
                <!--  submitDataWithFile() is not being called because submit button is not in the form or we are not submitting the form directly  -->
                
                <form ng-submit="submitDataWithFile()" enctype="multipart/form-data" name="pform" id="productForm" class="form-horizontal row-border ng-pristine ng-valid">
                    <input class="form-control"  type="hidden" ng-model="prdUpdate.product.id">
                    <div class="form-group">
                        <label class="col-md-2 control-label"> Product Name </label>
                        <div class="col-md-8">
                            <input class="form-control" name="prdct" type="text" ng-model="prdUpdate.product.name" required  >
                            <span style="color:red" ng-show="pform.prdct.$invalid">
                                <span ng-show="pform.prdct.$error.required">* product name is required.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"> Category Name </label>
                        <div class="col-md-8">
                            <select class="form-control" type="text" ng-model="prdUpdate.product.category">
                                <option value=""> select category </option>
                                <option ng-repeat="cat in prdUpdate.categories " value="{{cat.name}}"> {{cat.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"> Brand Name </label>
                        <div class="col-md-8">
                            <select class="form-control" type="text" ng-model="prdUpdate.product.brand"> 
                                <option value="">select brand </option>
                                <option ng-repeat="brd in prdUpdate.brands" value="{{brd.name}}">{{ brd.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"> Thumbnail </label>
                        <span class="col-md-2" ng-show="prdUpdate.product.image">
                            <img class="profile-img" height="50" width="60" ng-src="{{prdUpdate.ImagePath}}/products/{{prdUpdate.product.image}}" err-src=""/>
                        </span>
                        <label class="custom-file-upload col-md-2">
                            <input class="" type="file" file-model="file"/>
                            <i class=""></i>
                        </label>
                       <!--
                        <span class="col-md-2">
                            <p ng-show="fileName">{{fileName}}</p>
                        </span>
                        -->
                    </div>

                </form>
                
            </div>
           <!-- {{pform.$valid}}  -->
           
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="submit-btn-div col-sm-2">
                            
                            <!-- for validating the form we are passing {{pform.$valid }} on click function -->
                            <span class="btn btn-prod " ng-click="prdUpdate.submitProduct( pform.$valid )">Submit</span>
                        </div>
                        <div class="cancel-btn-div col-sm-2">
                            <span class="btn btn-prod " id="cancelForm" ng-click="prdUpdate.cancel()">Cancel</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>